.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem 12rem;
  box-sizing: border-box;
}

.filters input {
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-gender {
  display: flex;
}

.filter-gender select {
  color: #888;
  font-size: 18px;
  margin: 0 20px;
  text-align: center;
}
